@value values: "../../styles/vars.module.css";
@value mainColor, secondaryColor, bodyFont, lineHeight, subtitleFont, headlineFont, headlineFontBig, subtitleFontBig, breakpoint, breakpointTwo from values;

@font-face {
    font-family: 'Menlo';
    src: url('../../public/fonts/menlo-regular.ttf');
}

@font-face {
    font-family: 'Akira';
    src: url('../../public/fonts/akira-expanded.ttf');
}

.container { 
    background-color: secondaryColor;   
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-image: url(/assets/raster2.svg);
    background-size: 550vw;
    background-position: 25% 25%;
    filter: blur(0.125rem);
}

.finish {
    width: 20rem;
    height: 100vh;
    display: grid; 
    grid-template-rows: 25vh 50vh 25vh;
    margin: 0 auto;
    z-index: 4;
}

.finish_image {
    background-image: url("../../public/assets/finish-bubble.png"); 
    width: 20rem;
    background-repeat: no-repeat;
    background-size: cover;
    transform: scaleY(-1);
    grid-row: 1;
    z-index: 2;
}

.finish_content {
    grid-row: 2;
    margin: 2rem 1rem;
    display: flex; 
    flex-direction: column;
    align-items: center;
}

.title {
    font-family: "Akira";
    font-size: subtitleFont;
    line-height: lineHeight;
    text-align: center;
    color: white;
    padding: 2rem;
}

.paragraaf {
    font-family: "Menlo";
    font-size: bodyFont;
    color: mainColor;
    line-height: lineHeight;
    margin-bottom: 2rem;
}

.button {
    font-family: "Akira";
    font-size: subtitleFont;
    color: white; 
    text-align: center;
    width: 20rem;
    margin: 0 auto;
    padding: 1rem .5rem;
    background-color: mainColor;
    border-radius: .5rem;
    box-shadow: .1rem .1rem .1rem mainColor, 0rem 0rem .1rem mainColor;
    cursor: pointer;
    z-index: 2;
}

.share {
    align-self: flex-end;
    justify-self: center;
    padding-bottom: 1rem;
}

.share_tagline {
    font-family: "Akira";
    font-size: bodyFont;
    text-align: center;
    color: white;
    padding: 2rem;
}

.share_image {
    width: 10rem;
    margin: 0 auto;
}

@media screen and (min-width: breakpoint) {
    .finish {
        width: 30rem;
    }
    .finish_image {
        width: 30rem; 
    }
    .title {
        font-size: subtitleFontBig;
    }
}

@media screen and (min-width: breakpointTwo) {
    .finish {
        grid-template-columns: 70vw 30vw;
        grid-template-rows: 20vh 60vh 20vh;
        margin: 0;
    }

    .title {
        font-size: headlineFont;
        line-height: 2.5rem;
        width: 40rem;
    }

    .finish_image {
        grid-row: 2;
        grid-column: 1 / span 2;
        justify-self: flex-end;
        align-self: center;
        height: 90vh;
        transform: scaleY(-1);
    }

    .finish_content {
        grid-column: 1;
        grid-row: 2;
        place-self: center;
        width: 30rem;
    }

    .share {
        grid-row: 3;
        align-self: flex-start;
    }
}
