@value values: "../../styles/vars.module.css";
@value mainColor, secondaryColor, bodyFont, lineHeight, subtitleFont, subtitleFontBig, headlineFont, headlineFontBig, breakpoint, breakpointTwo from values;

@font-face {
    font-family: 'Menlo';
    src: url('../../public/fonts/menlo-regular.ttf');
}

@font-face {
    font-family: 'Akira';
    src: url('../../public/fonts/akira-expanded.ttf');
}

.hidden {
    display: none;
}

.examples {
    overflow: hidden;
}

.scroll_wrapper {
    max-width: 100%;
    overflow: hidden;
    background-color: mainColor;
}

.marquee {
    white-space: nowrap;
    overflow: hidden; 
    display: inline-block; 
    animation: marquee 10s linear infinite;
}

.marquee p {
    display: inline-block;
}

@keyframes marquee {
    0% {
        transform: translate3d(0, 0, 0);
    }
    100% {
        transform: translate3d(-50%, 0, 0);
    }
}

.scroll {
    font-family: 'Akira';
    font-size: subtitleFont; 
    line-height: lineHeight;
    color: secondaryColor;
    padding: 1rem .5rem;
}

.trump {
    background-color: mainColor;
}

.boris {
    background-color: mainColor;
    padding-bottom: 2rem;
}

.example_header {
    display: flex;
    flex-direction: column; 
    padding: 0 5rem;
    max-width: 35rem;
    margin: 0 auto;
}

.trump_title {
    font-family: 'Akira';
    font-size: subtitleFontBig; 
    line-height: lineHeight;
    color: white;
    text-align: center;
    z-index: 1;
    position: relative; 
    top: 15rem;
}

.trump_image {
    background-image: url("/assets/campagne/trump.png");
    background-repeat: no-repeat;
    width: 15rem; 
    height: 20rem; 
    background-size: contain;
}

.boris_title {
    font-family: 'Akira';
    font-size: subtitleFontBig; 
    line-height: lineHeight;
    color: white;
    text-align: center;
    z-index: 1;
    position: relative; 
    top: 15rem;
}

.boris_image {
    background-image: url("/assets/campagne/boris.png");
    background-repeat: no-repeat;
    width: 15rem; 
    height: 20rem; 
    background-size: contain;
}

.example_paragraaf {
    font-family: 'Menlo';
    font-size: bodyFont;
    line-height: lineHeight;
    color: white; 
    padding: 1rem;
    max-width: 40rem;
    margin: 0 auto;
}

@media screen and (min-width: breakpointTwo) {
    .examples_flex {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin: 3rem 0;
    }
    .example_header {
        margin: 0 auto;
        position: relative; 
        top: 6.5rem;
    }

    .trump {
        width: 25rem;
        height: 40rem;
    }
    .trump_content::before {
        content: "Verkiezingen Trump 2016";
        font-family: 'Akira';
        font-size: subtitleFontBig; 
        line-height: lineHeight;
        color: secondaryColor;
    }
    .trump_content {
        display: none;
    }
    .example_header:hover + .trump_content {
        display: inline-block;
        width: 25rem; 
        padding: 5rem 1rem;
    }
    .example_header:hover {
        display: none;
    }
    .boris {
        width: 25rem;
        height: 40rem;
    }
    .boris_content {
        display: none;
    }
    .boris_content::before {
        content: "Brexit Referendum 2016";
        font-family: 'Akira';
        font-size: subtitleFontBig; 
        line-height: lineHeight;
        color: secondaryColor;
        text-align: center;
    }
    .example_header:hover + .boris_content {
        display: inline-block;
        width: 25rem; 
        padding: 5rem 1rem;
    }
}