@value values: "../../styles/vars.module.css";
@value mainColor, secondaryColor, bodyFont, lineHeight, subtitleFont, subtitleFontBig, headlineFont, headlineFontBig, breakpoint, breakpointTwo from values;

@font-face {
    font-family: 'Menlo';
    src: url('../../public/fonts/menlo-regular.ttf');
}

@font-face {
    font-family: 'Akira';
    src: url('../../public/fonts/akira-expanded.ttf');
}

.hidden {
    display: none;
}

.header {
    display: grid; 
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: 40% 30% 30%;
    height: 60rem;
}

.header_title {
    display: flex; 
    flex-direction: column;
    align-items: center;
    grid-column: 1 / span 2;
    margin-top: 5rem;
    font-family: "Akira";
    font-size: headlineFont;
    line-height: 3.5rem;
    padding: 0 3.5rem;
}

.warning {
    color: secondaryColor;
    background-color: mainColor;
    padding: .5rem 1rem;
}

.headline {
    text-align: center;
    margin-top: 2rem;
    line-height: 3.5rem;
    color: mainColor;
}

.introduction {
    grid-row: 2 / span 3; 
    grid-column: 1 / span 2;
    place-self: center;
    width: 90vw;
    max-width: 25rem;
    background-color: white;
    position: relative; 
    top: 5rem;
}

.window_green {
    background-color: secondaryColor;
    background-image: url('../../public/assets/campagne/bollen.svg'); 
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 1rem;
    height: 3vh;
    border: .1rem solid secondaryColor;
}

.paragraaf {
    font-family: "Menlo";
    font-size: bodyFont;
    color: mainColor;
    background-color: white;
    line-height: lineHeight;
    border: .2rem solid secondaryColor;
    padding: 1rem;
}

.image_protest {
    background-image: url("/assets/campagne/protest.png");
    background-repeat: no-repeat;
    background-size: cover; 
    width: 90vw;
    max-width: 25rem;
    height: 20rem;
    transform: scaleX(-1);
    grid-column: 1 / span 2;
    grid-row: 2;
    z-index: -4;
    border: .25rem solid secondaryColor;
    place-self: center;
    position: relative; 
    top: 5rem;
}

.image_phone {
    display: none;
}

@media screen and (min-width: breakpoint) {
    .header_title {
        font-size: headlineFontBig;
        grid-column: 1 / span 3;
    }
    .headline {
        line-height: 4rem;
    }
    .introduction {
        width: 25rem;
        height: 20rem;
        top: 0;
    }
    .rectOne {
        width: 25rem; 
        height: 20rem;
        background-color: white;
        border: .2rem solid secondaryColor; 
        grid-row: 2/ span 3;
        grid-column: 1 / span 3;
        place-self: center;
        position: relative; 
        left: 2rem;
        top: 3rem;
        z-index: -2;
    }
    .rectTwo {
        width: 25rem; 
        height: 20rem;
        background-color: white;
        border: .2rem solid secondaryColor; 
        grid-row: 2/ span 3;
        grid-column: 1 / span 3;
        place-self: center;
        position: relative; 
        left: 1rem;
        top: 2rem;
        z-index: -2;
    }
    .image_protest {
        grid-column: 1;
        grid-row: 3;
        align-self: flex-end;
        justify-self: center;
        top: 0;
    }
    .image_phone {
        display: block;
        background-image: url("/assets/campagne/phone.png");
        background-repeat: no-repeat;
        background-size: contain;
        grid-column: 2;
        grid-row: 2 / span 3;
        width: 40vw;
        max-width: 20rem;
        height: 30vw;
        place-self: center;
        z-index: -4;
        transform: scaleX(-1)
    }
}

@media screen and (min-width: breakpointTwo) {
    .header {
        width: 100vw;
        grid-template-columns: repeat(3, calc(100%/3));
        margin: 0 auto;
    }
    .header_title {
        grid-column: 1 / span 3; 
        align-self: center;
        padding: 0 5rem;
    }
    .introduction {
        grid-row: 2/ span 3;
        grid-column: 1 / span 3;
        max-width: 30rem;
        margin: 0;
        place-self: center;
    }
    .image_protest {
        grid-column: 1 / span 2;
    }
    .image_phone {
        grid-column: 2 / span 3;
        place-self: center;
        position: relative; 
        left: 5rem;
        top: -3rem;
    }
}