@value values: "../../styles/vars.module.css";
@value mainColor, secondaryColor, breakpointTwo from values;
@font-face {
    font-family: 'Akira';
    src: url('../../public/fonts/akira-expanded.ttf');
}

.buttons {
    width: 30vw;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 2rem;

}

.no {
    color: white;
    text-decoration: underline;
    margin: 1.5rem;
    font-size: 1.25rem;
    font-family: Akira;
}



.content_container {
    position: absolute;
    top: 25%;
    left: 25%;
    width: 60vw;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 2rem;
    border: secondaryColor 0.4rem solid;
    border-top:  secondaryColor 5rem solid;
}

.bolletjes {
    position: absolute;
    top:27vh;
    left:30%;
    z-index: 2;
}


@media screen and (min-width: breakpointTwo) {
   .content_container {
       left: 20%;
   }


.bolletjes {
    left:21%;
     top:27.5vh;
}

}
