@value values: "../../styles/vars.module.css";

@value mainColor, breakpoint, Menlo, hightlightColor, breakpointTwo, secondaryColor, bodyFont, lineHeight, bodyFontBig, lineHeightBig from values;

@media screen and (min-width: breakpointTwo) {
.maskers_image{
        background-image: url(../../public/assets/maskers.gif);
        position: absolute;
        background-size: 50vw;
        height: 100vh;
        width: 100vw;   
        background-repeat: no-repeat;
        background-position: -10% 100%;
    }
}