@value values: "../../styles/vars.module.css";

@value mainColor, breakpoint, Menlo, hightlightColor, breakpointTwo, secondaryColor, bodyFont, lineHeight, bodyFontBig, lineHeightBig from values;

@font-face {
    font-family: 'Menlo';
    src: url('../../public/fonts/menlo-regular.ttf');
}

.content_container {
    position: absolute;
    top: 32%;
    left: 10%;
    width: 80vw;
}

.trumpRight{
    position: fixed;
    bottom:0px;
    height: 30rem;
    left: -7rem;
}

.trumpLeft {
    position: fixed;
    bottom:0px;
    height: 30rem;
    right: -7rem;
}

.text {
    color: white;
    font-family: Menlo;
    font-size: 1.5rem;
    text-align: center;
    line-height: lineHeigt;
    margin-bottom: 15rem;
}

@media screen and (min-width: breakpoint) {

.trumpRight {

    height: 35rem;
}

.trumpLeft {

    height: 35rem;
}
}

@media screen and (min-width: breakpointTwo) {

.trumpRight {
  left: 22vw;
}

.trumpLeft {

   right:18vw;
}
}
