@value values: "../../styles/vars.module.css";
@value secondaryColor from values;

.scroll_wrapper {
    max-width: 100%;
    overflow: hidden;
    background-color: secondaryColor;
    position: absolute;
    bottom: 0;
}

.marquee {
    white-space: nowrap;
    overflow: hidden; 
    display: inline-block; 
    animation: marquee 10s linear infinite;
}

.marquee p {
    display: inline-block;
}

@keyframes marquee {
    0% {
        transform: translate3d(0, 0, 0);
    }
    100% {
        transform: translate3d(-50%, 0, 0);
    }
}

.scroll {
    font-family: 'Akira';
    font-size: subtitleFont; 
    line-height: lineHeight;
    color: white;
    padding: 1rem .5rem;
}