@value values: "../../styles/vars.module.css";
@value mainColor from values;

@font-face {
    font-family: 'Akira';
    src: url('../../public/fonts/Akira-Expanded-Demo.ttf');
}

.button{
    background-color: white;
    border: none;
    padding: 1rem;
    border-radius: 0.4rem;
    font-size:1.2rem;
    font-family: 'Akira';
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: mainColor;
    cursor: pointer;
}