@value values: "../../styles/vars.module.css";
@value facebookGray, breakpoint, secondaryColor, mainColor, lineHeight, bodyFont, bodyFontBig, lineHeightBig from values;

@font-face {
    font-family: 'Menlo';
    src: url('../../public/fonts/menlo-regular.ttf');
}

@font-face {
    font-family: 'Akira';
    src: url('../../public/fonts/akira-expanded.ttf');
}

.close_container {
  position: fixed;
  background: #00000098;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  font-family: Menlo;
  font-size: bodyFont;
  z-index: 1000;
  text-align: center;
  line-height: lineHeight;
  color: mainColor;
}
 
.box {
  width: 70%;
  margin: 0 auto;
  background: #fff;
  margin-top: 10vw;
  position: absolute;
  top: 25%;
  left: 15%;
  width: 70vw;
  padding: 2rem;
  border-top:  secondaryColor 2.5rem solid;
}

.text {
  margin-bottom: 1vh;
}

.buttons {
  display: flex;
  flex-direction: column;
}

.no {
  margin-top: 1vh;
  text-decoration: underline;
  font-family: Akira;
  font-size:3vw;
}



.close {
  position: absolute;
  top:-15%;
  margin-left: 23vw;
  border-radius: 50%;
}

.close:before, .close:after {
  position: absolute;
  content: ' ';
  height:1.7rem;
  width: 0.1rem;
  margin-left: 1.2rem;
  margin-top: 0.35rem;
  background-color: white;
}

.close:before {
  transform: rotate(45deg);
}

.close:after {
  transform: rotate(-45deg);
}

@media screen and (min-width: breakpoint) {

  .close_container{
    font-size: bodyFontBig;
    line-height: lineHeightBig;
  }

    .no {
      font-size: bodyFont;
    }

    .text {
      margin-bottom: 2rem;
    }

    .box {
     border-top:  secondaryColor 3rem solid;
     top: 15%;
     left: 25%;
     width: 50%
    }

    .close {
      margin-left: 18vw;
      top: -17%;
    }
  
}

@media screen and (min-width: breakpointTwo) {

    .button {
      font-size:bodyFont; 
      width: 30rem; 
    }

      .close {
      margin-left: 20vw;
    }


}