@value values: "../../styles/vars.module.css";
@value facebookGray, breakpoint from values;

@font-face {
    font-family: 'SF';
    src: url('../../public/fonts/SFNSText-Light.ttf');
}

.popup_box {
  position: fixed;
  background: #00000098;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  font-family: SF;
}
 
.box {
  width: 70%;
  margin: 0 auto;
  background: #fff;
  border-radius: 5vw;
  padding: 20px;
  margin-top: 10vw;
}
 
.close_icon {
  text-align: center;
  width: 15vw;
  margin: 0 auto;
  padding: 1vw;
  padding-top: 2vw;
  padding-bottom: 2vw;
  background: #fff;
  border-radius: 2vw;
  margin-top: 1.5rem;
  cursor: pointer;
}

.text_image{
    display: flex;
    flex-direction: row;
}

.header_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: facebookGray;
}

.line {
    width: 100%;
    color: facebookGray;
}

.title {
    margin-top: 1rem;
    margin-left: 1vw;
}

.time {
    margin-top: 1rem;
}

.text {
    margin-top: 1rem;
    padding-bottom: 2rem;
    line-height: 1.4rem;
}

@media screen and (min-width: breakpoint) {
    .box {
        width: 30rem;
        border-radius: 2rem;
    }

    .close_icon{
        width: 5rem;
        padding: 1rem;
         border-radius: 1rem;
    }
}

@media screen and (min-width: breakpointTwo) {
    .box {
        width: 40rem;
        border-radius: 2rem;
    }

    
}

