@value values: "../../styles/vars.module.css";
@value mainColor, breakpoint, Menlo, hightlightColor, breakpointTwo, bodyFont,bodyFontBig, secondaryColor from values;

@font-face {
    font-family: 'Akira';
    src: url('../../public/fonts/akira-expanded.ttf');
}

.progress_button {  
    display: grid;
    width: 65vw;
    position: absolute;
    left: 20%;
    top: 5%;
    grid-column: 50vw 10vw;
    gap:1rem;
}

.progress_div {
    grid-column: 1;
    height: 1rem;
    width: 50vw;
    background-color: #D9D6F1;
    border-radius: 1.5rem;
}

.progress{
    height: 1rem;
    background-color:secondaryColor;
    border-radius: 1.5rem;
}


.close {
  margin-top: -1vh;
  grid-column: 2;
  background-color: hightlightColor;
  width: 2rem;
  height: 2rem;
  border: white solid 1px;
  border-radius: 50%;
  cursor: url('../../public/assets/hand2000.png') 0 0, auto;
}

.close:before, .close:after {
  position: absolute;
  content: ' ';
  height:1.2rem;
  width: 0.05rem;
  margin-left: 0.94rem;
  margin-top: 0.32rem;
  background-color: white;
}

.close:before {
  transform: rotate(45deg);
}

.close:after {
  transform: rotate(-45deg);
}

.text {
    color: secondaryColor;
    font-family: Akira;
    text-align: center;
    margin-bottom: -1vh;
    font-size: bodyFont;
}

.icon {
  width: 10rem;
  position: absolute;
  top: 6rem;
  left:20%;
  cursor: url('../../public/assets/hand2000.png') 0 0, auto;
  height: 5rem;
  background-size: 15rem;
  background-position-y: 0.5rem;
  background-repeat: no-repeat;
  background-image: url(../../public/assets/arrow.svg);
}

.text_arrow{
    color: white;
    font-family: Akira;
    text-align: right;
    font-size: 0.8rem;
}


@media screen and (min-width: breakpoint) {
    .text {
        font-size:bodyFontBig;
    }


    .icon {
     margin-top: -2rem;
    }
}