@value values: "../../styles/vars.module.css";
@value mainColor, breakpoint, Menlo, hightlightColor, breakpointTwo, bodyFont,bodyFontBig, secondaryColor from values;

@font-face {
    font-family: 'Akira';
    src: url('../../public/fonts/akira-expanded.ttf');
}

.progress_button {  
    display: grid;
    width: 65vw;
    grid-column: 50vw 10vw;
    position: absolute;
    margin-top: 4rem;
    gap:1rem;
}

.progress_div {
    grid-column: 1;
    height: 1rem;
    width: 50vw;
    background-color: #D9D6F1;
    border-radius: 1.5rem;
}

.progress{
    height: 1rem;
    background-color:secondaryColor;
    border-radius: 1.5rem;
}


.close {
    margin-top: -1vh;
  grid-column: 2;
  background-color: hightlightColor;
  width: 2.5rem;
  height: 2.5rem;
  border: white solid 1px;
  border-radius: 50%;
}

.close:before, .close:after {
  position: absolute;
  content: ' ';
  height:1.7rem;
  width: 0.05rem;
  margin-left: 1.2rem;
  margin-top: 0.35rem;
  background-color: white;
}

.close:before {
  transform: rotate(45deg);
}

.close:after {
  transform: rotate(-45deg);
}

.text {
    color: secondaryColor;
    font-family: Akira;
    text-align: center;
    margin-bottom: -1vh;
    font-size: bodyFont;
}

.icon {
  position: absolute;
  top: 12%;
  width: 19rem;
  cursor: pointer;
  height: 10vw;
  background-size: 25rem;
  background-position-y: 1vh;
  background-repeat: no-repeat;
  background-image: url(../../public/assets/arrow.svg);
}

.text_arrow{
    color: white;
    font-family: Akira;
    text-align: right;
    margin-bottom: -1vh;
    font-size: bodyFont;
}


@media screen and (min-width: breakpoint) {
    .text {
        font-size:bodyFontBig;
    }


    .icon {
        margin-top: 2rem;
    }
}