@value values: "../../styles/vars.module.css";
@value mainColor, breakpoint, Menlo, hightlightColor, breakpointTwo, secondaryColor, bodyFont, bodyFontBig from values;

@font-face {
    font-family: 'Menlo';
    src: url('../../public/fonts/menlo-regular.ttf');
}

.textarea{
    margin: 2rem;
    height: 20vw;
    border-radius: 1.2rem;
    border: none;
    font-size: bodyFont;
    padding-left: 2vw;
    padding-top: 1rem;
    font-family: Menlo;
    width: 60vw;
    margin: 0 auto;
    margin-top: 2vh;
    margin-bottom: 2vh;
}

@media screen and (min-width: breakpoint) {
.textarea{
    height: 10vw;
    font-size: bodyFontBig;
    width: 30rem;
}

}

@media screen and (min-width: breakpointTwo) {

.textarea{
    height: 10vw;
    font-size: bodyFontBig;
    width: 40rem;
    height:8rem;
}

}