@value values: "../../styles/vars.module.css";
@value mainColor, breakpoint, Menlo, hightlightColor, breakpointTwo, secondaryColor, bodyFont, bodyFontBig from values;

@font-face {
    font-family: 'Menlo';
    src: url('../../public/fonts/menlo-regular.ttf');
}

.textarea{
    height: 20vw;
    border-radius: 2vw;
    border: none;
    font-size: bodyFont;
    padding-left: 3vw;
    padding-top: 3vw;
    font-family: Menlo;
    width: 70vw;
    margin-top: -1.5vh;
    margin-bottom: 2vh;
    cursor: url('../../public/assets/readcursor.png') 0 0, auto;
}

@media screen and (min-width: breakpoint) {
.textarea{
    height: 10vw;
    font-size: bodyFontBig;
    width: 30rem;
    cursor: url('../../public/assets/readcursor.png') 0 0, auto;
}

}

@media screen and (min-width: breakpointTwo) {

.textarea{
    height: 10vw;
    font-size: bodyFontBig;
    width: 40rem;
    height:8rem;
    cursor: url('../../public/assets/readcursor.png') 0 0, auto;
}

}