@value values: "../../styles/vars.module.css";
@value  breakpointTwo  from values;


.versiering1 {
    position: absolute;
    left: 13.29%;
    right: 83.08%;
    top: 2.57%;
    bottom: 94.95%;
}

.versiering2 {
    display:none;
}

.versiering3 {
    position: absolute;
    left: 88.41%;
    right: 6.07%;
    top: 85.6%;
    bottom: 11.79%;
}


@media screen and (min-width: breakpointTwo ) {

    .versiering2 {
        position: absolute;
        left: 8.7%;
        right: 86.84%;
        top: 88.84%;
        bottom: 8.94%;
    }

}