
@value values: "../../styles/vars.module.css";
@value bodyFont, bodyFontBig, breakpoint, breakpointTwo, lineHeight  from values;

@font-face {
    font-family: 'Menlo';
    src: url('../../public/fonts/menlo-regular.ttf');
}

.what {
    position: absolute;
    left: 5%;
    right: 3.26%;
    top: 89.74%;
    bottom: 6.7%;
    color: white;
    line-height:1rem;
    font-family: Menlo;
    font-size: 0.7rem;
    cursor: url('../../public/assets/hand2000.png') 0 0, auto;
    width: 90vw;
}



@media screen and (min-width: breakpointTwo) {

    .what {
          left: 47%;
          font-size: bodyFont;
          text-decoration: underline;
        }
}