@value values: "../../styles/vars.module.css";

@value mainColor, breakpoint, Menlo, hightlightColor, breakpointTwo, secondaryColor, bodyFont, lineHeight, bodyFontBig, lineHeightBig from values;

@font-face {
    font-family: 'Menlo';
    src: url('../../public/fonts/menlo-regular.ttf');
}

@font-face {
    font-family: 'Akira';
    src: url('../../public/fonts/akira-expanded.ttf');
}


.container {
    background-color: mainColor;
    height: 100vh;
    width: 100vw;
}

.glitch {
    position: absolute;
    height: 100vh;
    width: 100vw;
    z-index: 1000;
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-image: url(/assets/raster2.svg);
    background-size: 550vw;
    background-position: 25% 25%;
    filter: blur(0.125rem);
}

.content {
    width: 60vw;
    margin: 0 auto;
}

.text {
    margin-top: 3vh;
    color: white;
    font-family: Menlo;
    font-size: bodyFont;
    text-align: center;
    line-height: lineHeight;
}

.highlight {
    background: linear-gradient(to top, hightlightColor 50%, transparent 50%);
    padding-left: 0.2rem;
    padding-right: 0.2rem;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 2rem;
     cursor: pointer;
}


.content_container {
    position: absolute;
    top: 20%;
    width: 60vw;
}

.hoofdoek {
    display: block;
    width: 60vw;
    margin: 0 auto;
}

.textTrump {
    color: white;
    font-family: Menlo;
    font-size: bodyFont;
    text-align: center;
    line-height: lineHeight;
    margin-bottom: 15rem;
}


.content_containerTrump {
    position: absolute;
    top: 32%;
    left: 10%;
    width: 80vw;
}


.content_container_car {
    position: absolute;
    top: 32%;
    left: 10%;
    width: 80vw;
}

.trumpLeft {
    position: fixed;
    bottom:0px;
    height: 27rem;
    right: -13rem;
}

.trumpRight{
    position: fixed;
    right: calc(300%/20);
    bottom: calc(-300%/400);
    width: calc(300%/3);
}

.display_none {
    display: none;
}

.buttons_text_three {
    display: flex;
    flex-direction: column;
    width: 60vw;
    margin: 0 auto;
}

.button_three {
    width: 20vw;
    margin: 0 auto;
}

.correct {
    color: white;
    text-align: center;
    font-size: bodyFont;
    font-family:'Akira';
    text-decoration: underline;
}

@media screen and (min-width: breakpoint) {

    .background{
        background-size: 200rem;
    }

    .trumpLeft {
        height: 35rem;
    }

    .content_container {
        top: 15%;
    }

    .text {
        font-size: bodyFontBig;
        line-height: lineHeightBig;
    }

    .textTrump {
        font-size: bodyFontBig;
        line-height: lineHeightBig;
    }

    .hoofdoek {
        width: 30rem;
        margin: 0 auto;
    }

    .trumpRight {
        position: fixed;
        right: calc(300%/5.7);
        bottom: calc(-300%/300);
        width: calc(300%/5.5);
    }
}

@media screen and (min-width: breakpointTwo) {
    .content_container {
        top: 35%;
        width: 60rem;
    }

    .hoofdoek {
       display: none;
    }

    .buttons {
        width: 30rem;
        margin: 0 auto;
    }

    .text {
        margin-bottom: 3rem;
        font-size: bodyFontBig;
        line-height: lineHeightBig;
    }

    .background {
        position: absolute;
    }

    .hoofdoek_image{
        background-image: url(/assets/hoofdoek.png);
        position: absolute;
        height: 100vh;
        width: 100vw;   
        background-repeat: no-repeat;
        background-position: 120% -70%;
    }


    .button_image {
        height: 3vw;
    }

    .trumpLeft {
        right:18vw;  
    }

    .trumpRight {
        position: fixed;
        right: calc(300%/8);
        bottom: calc(-300%/300);
        width: calc(300%/7);
    }

    .maskers_image{
        background-image: url(/assets/maskers.gif);
        position: absolute;
        background-size: 50vw;
        height: 100vh;
        width: 100vw;   
        background-repeat: no-repeat;
        background-position: -10% 100%;
    }

    .car_image{
        background-image: url(/assets/auto.png);
        position: absolute;
        background-size: 50vw;
        height: 100vh;
        width: 100vw;   
        background-repeat: no-repeat;
        background-position: -10% 100%;
    }

    .haanLeeuw {
            background-image: url(/assets/haanLeeuw.png);
            position: absolute;
            background-size: 50vw;
            height: 80vh;
            width: 80vw;   
            background-repeat: no-repeat;
            background-position: -10% 100%;
            bottom: 0;
    }
}
