@value values: "../../styles/vars.module.css";

@value mainColor, breakpoint, Menlo, hightlightColor, breakpointTwo, secondaryColor, bodyFont, lineHeight, bodyFontBig, lineHeightBig from values;

@font-face {
    font-family: 'Menlo';
    src: url('../../public/fonts/menlo-regular.ttf');
}

@font-face {
    font-family: 'Akira';
    src: url('../../public/fonts/akira-expanded.ttf');
}


.container {
    cursor:url("../../public/assets/mouse.png") 0 0, auto;
    background-color: mainColor;
    overflow: hidden;
    height: 100vh;
    width: 100vw;
}

.glitch {
    position: absolute;
    height: 100vh;
    width: 100vw;
    z-index: 999;
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-image: url(/assets/raster2.svg);
    background-size: 550vw;
    background-position: 25% 25%;
    filter: blur(0.125rem);
}

.content {
    width: 80vw;
    margin: 0 auto;
}

.text {

    color: white;
    font-family: Menlo;
    font-size:bodyfont;
    text-align: center;
    line-height: lineHeight;
    width:80vw;
    margin-bottom: 3vh;
}

.highlight {
    background: linear-gradient(to top, hightlightColor 50%, transparent 50%);
    padding-left: 0.2rem;
    padding-right: 0.2rem;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 60vw;
    margin: 0 auto;
    cursor: url('../../public/assets/hand2000.png') 0 0, auto;
}


.content_container {
    position: absolute;
    margin-top: 15vh;
}

.content_container_five{
     position: absolute;
    margin-top: 25vh;
}

.hoofdoek {
    display: block;
    width: 60vw;
    margin: 0 auto;
}

.buttons_text {
    display: block;
    width: 80vw;
    margin: 0 auto;
}


.textTrump {
    color: white;
    font-family: Menlo;
    font-size: bodyFont;
    text-align: center;
    line-height: lineHeight;
    margin-top: 2vh;
    margin-bottom: 3vh;
}


.content_containerTrump {
    position: absolute;
    top: 23%;
    left: 10%;
    width: 80vw;
}


.content_container_car {
    position: absolute;
    top: 32%;
    left: 10%;
    width: 80vw;
}

.trumpLeft {
    position: fixed;
    left: 25vw;
    bottom:0vh;
    width: 47vh;
}

.trumpRight{
    position: fixed;
    right: 20vw;
    bottom:0vh;
    width: 47vh
}

.display_none {
    display: none;
}

.buttons_text_three {
    display: block;
    width: 70vw;
    margin: 0 auto;
}

.button_three {
    width: 20vw;
    margin: 0 auto;
}

.correct {
    color: white;
    text-align: center;
    font-size: 0.8rem;
    margin-bottom: 2vh;
    font-family:'Akira';
    text-decoration: underline;
}

.validation {
    color: secondaryColor;
    text-align: center;
    font-family: 'Menlo';
    font-size: 0.7rem;
    position: relative;
    z-index: 99;
    margin-top: -3vh;
    margin-bottom: 3vh;
}

@media screen and (min-width: breakpoint) {

    .background{
        background-size: 200rem;
    }

    .content_container {
        top: 15%;
    }

    .text {
        font-size: bodyFontBig;
        line-height: lineHeightBig;
    }

    .textTrump {
        font-size: bodyFontBig;
        line-height: lineHeightBig;
    }

    .hoofdoek {
        width: 20rem;
        margin: 0 auto;
    }

    .trumpRight {
        position: fixed;
        right: calc(300%/5.7);
        bottom: calc(-300%/300);
        width: calc(300%/4.7);
    }


    .trumpLeft {
        position: fixed;
        left: calc(300%/5.7);
        bottom: calc(-300%/300);
        width: calc(300%/4.7);
    }

}

@media screen and (min-width: breakpointTwo) {
    .content_container {
        margin-top: 15rem;
        width: 60rem;
    }

    .hoofdoek {
       display: none;
    }

    .buttons {
        width: 30rem;
        margin: 0 auto;
    }

    .text {
        margin-bottom: 3rem;
        font-size: bodyFontBig;
        line-height: lineHeightBig;
        width: 50rem;
        margin-left: auto;
        margin-right: auto;
    }

    .background {
        position: absolute;
    }

    .hoofdoek_image{
        background-image: url(/assets/hoofdoek.png);
        position: absolute;
        height: 100vh;
        width: 100vw;   
        background-repeat: no-repeat;
        background-position: 120% -70%;
    }


    .button_image {
        height: 3vw;
    }

    .trumpLeft {
        position: fixed;
        left: calc(300%/6.5);
        bottom: calc(-300%/300);
        width: calc(300%/10);
    }

    .trumpRight {
        position: fixed;
        right: calc(300%/7);
        bottom: calc(-300%/300);
        width: calc(300%/10);
    }

    .maskers_image{
        background-image: url(/assets/maskers.gif);
        position: absolute;
        background-size: 50vw;
        height: 100vh;
        width: 100vw;   
        background-repeat: no-repeat;
        background-position: -10% 100%;
    }

    .car_image{
        background-image: url(/assets/auto.png);
        position: absolute;
        background-size: 50vw;
        height: 100vh;
        width: 100vw;   
        background-repeat: no-repeat;
        background-position: -10% 100%;
    }

    .haanLeeuw {
            background-image: url(/assets/haanLeeuw.png);
            position: absolute;
            background-size: 50vw;
            height: 80vh;
            width: 80vw;   
            background-repeat: no-repeat;
            background-position: -10% 100%;
            bottom: 0;
    }

    .moskee {
        background-image: url(/assets/moskee.png);
        position: absolute;
        background-size: 50vw;
        height: 100vh;
        width: 100vw;   
        background-repeat: no-repeat;
        background-position: 100% 100%;
        bottom: 0;
    }

    .textTrump {
        margin-top: 10rem;
        margin-bottom: 7rem;
    }

    .content_containerTrump {
    top: 25%
}
}
