@value values: "../../styles/vars.module.css";
@value mainColor, secondaryColor from values;

@font-face {
    font-family: 'Menlo';
    src: url('/public/fonts/menlo-regular.ttf');
}

.container {
    height: 100vh;
    width: 100vw;
    background-color: mainColor;

    display: grid; 
    grid-template-rows: 20% 15% 35% 15% 15%;
}

.title_container {
    font-family: Akira;
    font-size: 3rem;
    font-weight: 800;
    grid-row: 1;
    text-align: center;
    text-transform: uppercase;
}

.title_fill {
    color: secondaryColor;
    grid-row: 1; 
    text-align: center;
    position: relative; 
    top: -2rem;
}

.title_stroke {
    -webkit-text-fill-color: mainColor;
    -webkit-text-stroke: .05rem secondaryColor;
    position: relative; 
    top: -1.5rem;
}

.intro_bold {
    font-family: Menlo;
    font-size: 1.2rem;
    line-height: 1.7rem; 
    color: white; 
    grid-row: 2;
    padding: 1vh 5vw;
}

.intro_light {
    font-family: Menlo;
    font-size: 1.2rem; 
    line-height: 1.7rem; 
    color: white; 
    grid-row: 4;
    padding: 0 5vw;
}

.image {
    padding-right: 2.5vh;
}

.input {
    grid-row: 5;
    display: flex; 
    flex-direction: column;
    justify-content: center;
    padding: 0 2rem;
}

.range {
    position: relative;
}

.instruction {
    font-family: Menlo;
    color: secondaryColor; 
    text-align: center;
    font-weight: 400; 
    font-size: 1.2rem;
    padding-bottom: 1rem;
}

.range[type=range] {
    -webkit-appearance: none; 
    background: transparent;
    width: 80vw;
}

/*.range::after {
    content:"Slide to get started";
    color: secondaryColor; 
    text-align: right;
    font-weight: 400; 
    font-size: 1rem;
    position: relative;
    left: -10rem; 
    top: 1.2rem;
}*/

.range[type=range]::-ms-track {
    width: 100%; 
    background: white; 
    border-color: white; 
    color: white;
}

.range[type=range]::-webkit-slider-runnable-track {
    background: white; 
    border-radius: 2rem; 
    border: .2rem solid secondaryColor;
}

.range[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none; 

    border-radius: 100%;
    height: 3rem; 
    width: 3rem; 
    color: white;
    background-color: white;
    box-shadow: .1rem .1rem .1rem mainColor, 0rem 0rem .1rem mainColor;
}