@value values: "../../styles/vars.module.css";
@value mainColor, secondaryColor, bodyFont, lineHeight, headlineFont, headlineFontBig, subtitleFont, subtitleFontBig, breakpoint, breakpointTwo from values;

@font-face {
    font-family: 'Menlo';
    src: url('../../public/fonts/menlo-regular.ttf');
}

@font-face {
    font-family: 'Akira';
    src: url('../../public/fonts/akira-expanded.ttf');
}

.container {
    height: 100vh;
    width: 100vw;
    background-color: mainColor;

    display: grid; 
    grid-template-rows: 20% 15% 35% 15% 15%;
}

.title_container {
    font-family: 'Akira';
    font-size: headlineFont;
    grid-row: 1;
    text-align: center;
    text-transform: uppercase;
}

.title_fill {
    color: secondaryColor;
    grid-row: 1; 
    text-align: center;
    position: relative; 
    top: -1.5rem;
}

.title_stroke {
    -webkit-text-fill-color: mainColor;
    -webkit-text-stroke: .05rem secondaryColor;
    position: relative; 
    top: -1rem;
}

.intro_first {
    font-family: 'Menlo';
    font-size: bodyFont;
    line-height: lineHeight; 
    color: white; 
    place-self: center;
    grid-row: 2;
    padding: 1vh 5vw;
    max-width: 50rem;
}

.intro_second {
    font-family: 'Menlo';
    font-size: bodyFont; 
    line-height: lineHeight; 
    color: white; 
    place-self: center;
    grid-row: 4;
    padding: 0 5vw;
    max-width: 50rem;
}

.images {
    width: 100vw;
    display: flex; 
    flex-direction: row;
    justify-content: space-between;
    grid-row: 3;
    overflow: hidden;
}

.image_left {
    padding-right: 2.5vh;
    width: 60vw; 
    height: auto; 
    margin: 1rem 0;
    background-image: url("../../public/assets/protest.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.image_right {
    display: none;
}

.input_mobile {
    grid-row: 5;
    display: flex; 
    flex-direction: column;
    justify-content: center;
    padding: 0 2rem;
}

.input_desktop {
    display: none;
}

.image_extra {
    display: none;
}

.range {
    position: relative;
}

.instruction {
    font-family: 'Menlo';
    color: secondaryColor; 
    text-align: center;
    font-weight: 400; 
    font-size: subtitleFont;
    padding-bottom: 1rem;
}

.range[type=range] {
    -webkit-appearance: none; 
    background: transparent;
    width: 18rem;
    place-self: center;
}

.range[type=range]::-ms-track {
    width: 100%; 
    background: white; 
    border-color: white; 
    color: white;
}

.range[type=range]::-webkit-slider-runnable-track {
    background: white; 
    border-radius: 2rem; 
    border: .2rem solid secondaryColor;
}

.range[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none; 

    border-radius: 100%;
    height: 3rem; 
    width: 3rem; 
    color: white;
    background-color: white;
    box-shadow: .1rem .1rem .1rem mainColor, 0rem 0rem .1rem mainColor;
}

@media screen and (min-width: breakpoint) {
    .container {
        grid-template-rows: 20% 15% 10% 40% 15%;
    }
    .title_container {
        font-size: headlineFontBig;
        position: relative; 
        top: -5rem;
    }
    .intro_first {
        grid-row: 2;
        font-size: subtitleFontBig;
        line-height: 2.3rem;
    }
    .intro_second {
        grid-row: 3;
        font-size: subtitleFontBig;
        line-height: 2.3rem;
    }
    .images {
        grid-row: 4;
    }
    .image_right {
        display: flex;
    }
}

@media screen and (min-width: breakpointTwo) {
    .container {
        grid-template-columns: 25% 50% 25%;
        grid-template-rows: 20% 50% 30%;
    }
    .title_container {
        grid-row: 1;
        grid-column: 1 / span 3;
        font-size: 8rem;
        position: relative; 
        top: -8rem;
    }
    .title_fill {
        position: relative; 
        top: -5rem;
    }
    .title_stroke {
        top: -3rem;
    }
    .intro_first {
        grid-row: 2;
        grid-column: 2;
        width: 40vw;
        position: relative;
        top: -10rem;
        left: 5rem;
    }
    .intro_second {
        grid-row: 2;
        grid-column: 2;
        width: 40vw;
        position: relative;
        left: 5rem;
    }
    .images {
        grid-row: 2;
        grid-column: 1 / span 3;
    }
    .image_left {
        background-size: 60%;
    }
    .input_mobile {
        display: none;
    }
    .input_desktop {
        display: flex;
        grid-row: 2;
        grid-column: 2;
        align-self: flex-end;
        justify-self: center;
    }
    .button {
        font-family: 'Menlo';
        color: secondaryColor;
        font-size: subtitleFont;
        background-color: white; 
        border-radius: 2rem;
        place-self: center; 
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
    
    .image_extra {
        display: flex; 
        background-image: url('../../public/assets/triple.png');
        background-repeat: no-repeat;
        background-size: contain;
        margin: 2rem;
        grid-row: 3;
        grid-column: 2; 
    }
    .image_double {
        display: flex; 
        background-image: url('../../public/assets/triple.png');
        background-repeat: no-repeat;
        background-size: contain;
        margin: 2rem;
        grid-row: 3;
        grid-column: 2; 
        position: relative; 
        left: 1rem; 
        top: 1rem;
    }
    .image_triple {
        display: flex; 
        background-image: url('../../public/assets/triple.png');
        background-repeat: no-repeat;
        background-size: contain;
        margin: 2rem;
        grid-row: 3;
        grid-column: 2; 
        position: relative; 
        left: 2rem; 
        top: 2rem;

    }

}