@value values: "../../styles/vars.module.css";
@value mainColor, secondaryColor, bodyFont, lineHeight, bodyFontBig, lineHeightBig, titleFont, titleFontMiddle, titleFontBig, breakpoint, breakpointTwo from values;

@font-face {
    font-family: 'Menlo';
    src: url('../../public/fonts/menlo-regular.ttf');
}

@font-face {
    font-family: 'Akira';
    src: url('../../public/fonts/akira-expanded.ttf');
}

.hidden {
    display: none;
}

.header {
    display: grid; 
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(3, calc(100%/3));
    height: 110vh;
}

.headline {
    font-family: "Akira";
    font-size: 2.8rem;
    line-height: 3.5rem;
    color: secondaryColor;
    padding: 2rem;
    padding-bottom: 0rem;
    grid-row: 1;
    grid-column: 1 / span 2;
    max-width: 60rem;
}

.headline span {
    background-color: mainColor;
    padding: .5rem; 
}

.headline::after {
    content:"";
    background-image: url("../../public/assets/campagne/pijl.png");
    background-repeat: no-repeat;
    width: 10rem;
    height: 10rem;
    position: absolute;
}

.arrow {
    grid-row: 1; 
    grid-column: 2; 
    align-self: flex-end;
    position: relative; 
    width: 10vw; 
    padding-top: calc(150%/4);
}

.introduction {
    margin-left: 2rem;
    margin-top: 1rem;
    grid-row: 2; 
    grid-column: 1 / span 2;
    max-width: 25rem;
}

.window_green {
    background-color: secondaryColor;
    background-image: url('../../public/assets/campagne/bollen.svg'); 
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 1rem;
    height: 3vh;
}

.paragraaf {
    font-family: "Menlo";
    font-size: 1rem;
    color: mainColor;
    line-height: 1.7rem;
    background-color: white;
    border: .05rem solid secondaryColor;
    padding: 1rem;
}

.image_protest {
    display: none;
}

.image_phone {
    grid-row: 3; 
    grid-column: 2; 
    place-self: flex-end;
    margin-left: 2rem;
    z-index: -1;

    position: relative; 
    width: 45vw;
    padding-bottom: calc(400%/4);
}

.purple {
    margin: 3rem 0rem;
    background-color: mainColor;
}

.window_purple {
    border-bottom: .05rem solid white;
    background-image: url('../../public/assets/campagne/bollen.svg'); 
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 1rem;
    height: 5vh;
}

.purple_image {
    display: none;
}

.content {
    padding: 3rem 1rem;
    max-width: 40rem;
}

.subtitle {
    font-family: 'Akira';
    font-size: 1.2rem; 
    line-height: 1.7rem;
    color: white;
    margin-bottom: 2rem;
}

.highlight {
    font-family: 'Akira';
    font-size: bodyFont; 
    color: secondaryColor;
    margin-bottom: .5rem;
}

.paragraaf_white {
    font-family: "Menlo";
    font-size: 1rem; 
    line-height: 1.7rem; 
    color: white;
}

.information {
    margin: 2rem 0;
}

.intermezzo_content {
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    margin-bottom: 3rem;
}

.search {
    display: flex; 
    flex-direction: row; 
    justify-content: space-between;
    align-items: center;
    padding: 1rem; 
    border: .05rem solid mainColor;
    border-radius: 5rem;
    width: 70vw;
}

.search_title {
    font-family: 'Akira';
    font-size: 1.2rem;
    color: secondaryColor;
}

.definition {
    font-family: 'Menlo';
    font-size: 1rem;
    line-height: calc(1 * 2);
    color: secondaryColor; 
    text-align: center;
    width: 80vw;
    margin: 1rem 0;
}

.awareness_subtitle {
    font-family: 'Akira';
    font-size: 1.2rem; 
    line-height: 1.7rem;
    color: mainColor;
    text-align: center;
    max-width: 20rem;
    height: 10vh;
    margin: 0 auto;

    background-image: url("../../public/assets/campagne/bubble.svg");
    background-size: cover;
}

.awareness_image {
    display: flex; 
    justify-content: center;
}

.awareness_content {
    font-family: 'Menlo';
    font-size: 1rem;
    line-height: 1.7rem;
    color: mainColor; 
    padding: 1rem;
    max-width: 40rem;
    margin: 0 auto;
}

.awareness_image {
    display: none;
}

.examples {
    background-color: mainColor;
}

.scroll {
    font-family: 'Akira';
    font-size: 1.2rem; 
    line-height: 1.7rem;
    color: secondaryColor;
    padding: 1rem .5rem;
}

.example_header {
    display: grid; 
    grid-template-columns: repeat(2, 8rem);
    padding: 1rem 2rem;
    align-self: center;
}

.trump_title {
    font-family: 'Akira';
    font-size: 1.5rem; 
    line-height: 1.7rem;
    color: white;
    text-align: center;
    grid-row: 1;
    grid-column: 2;
    z-index: 1;
    align-self: center;
    justify-self: flex-end;
}

.trump_image {
    grid-row: 1; 
    grid-column: 1;
}

.boris_title {
    font-family: 'Akira';
    font-size: 1.5rem; 
    line-height: 1.7rem;
    color: white;
    text-align: center;
    grid-row: 1;
    grid-column: 1;
    z-index: 1;
    align-self: center;
    justify-self: flex-start;
}

.boris_image {
    grid-row: 1; 
    grid-column: 2;
}

.example_paragraaf {
    font-family: 'Menlo';
    font-size: 1rem;
    line-height: 1.7rem;
    color: white; 
    padding: 1rem;
    max-width: 40rem;
    margin: 0 auto;
}

.tips_subtitles {
    margin: 2rem 1rem; 
    font-family: 'Akira';
    font-size: 1.2rem; 
}

.subtitle_green {
    color: secondaryColor;
}

.subtitle_outline {
    color: white;
    -webkit-text-stroke: .05rem secondaryColor;
}

.tips_grid {
    display: grid; 
    grid-template-columns: 20vw 40vw 10vw;
    grid-template-rows: 25vh 20vh 10vh;
    margin: 2.5rem .5rem;
}

.tips_image {
    grid-row: 1 / span 2;
    grid-column: 1 / span 4;
    display: flex; 
    flex-direction: row; 
    justify-content: space-between;
}

.tips_content {
    max-width: 25rem;
    border: .05rem solid secondaryColor;
    background-color: white;
    grid-column: 2/ span 3;
    grid-row: 2 / span 3;
    z-index: 2;
}

.tips_title {
    font-family: 'Akira';
    font-size: 1.2rem; 
    line-height: 1.7rem;
    color: secondaryColor;
    padding: 1rem;
    max-width: 25rem;
}

.tips_paragraaf {
    font-family: "Menlo";
    font-size: 1rem;
    color: mainColor;
    line-height: 1.7rem;
    background-color: white;
    padding: 1rem;
}

.tips_number {
    font-family: "Akira";
    font-size: 8rem; 
    color: white; 
    -webkit-text-stroke: .25rem secondaryColor; 
    grid-row: 3; 
    grid-column: 3;
    z-index: 3;
}

.footer {
    background-color: secondaryColor; 
    padding: 1rem;
    width: 100vw;
}

.footer_cta {
    padding-bottom: 2rem;
}

.footer_title {
    font-family: 'Akira';
    font-size: 1.5rem; 
    color: white;
    margin-bottom: .5rem;
}

.footer_socials {
    max-width: 10rem;
}

.footer_link {
    padding-bottom: 2rem;
}

.link {
    font-family: 'Akira';
    font-size: 1rem; 
    line-height: 2rem;
    justify-self: center;
    color: mainColor; 
    background-color: white; 
    padding: .5rem;
}

.footer_info {
    display: flex;
    flex-direction: column; 
    align-content: space-between;
    align-items: center;
}

.footer_image {
    width: 40vw;
    padding-bottom: 1rem;
}

.footer_names {
    font-family: "Menlo";
    font-size: .7rem;
    color: black;
    line-height: 1.7rem;
}

@media screen and (min-width: breakpoint) {
    .headline {
        font-size: titleFontMiddle;
        line-height: calc(titleFontMiddle * 1.2);
        grid-column: 1 / span 3;
    }
    .introduction {
        grid-row: 2 / span 3;
    }
    .image_protest {
        display: flex;
        grid-column: 1;
        grid-row: 3;
        place-self: flex-end;
        border-top: 1.5rem solid secondaryColor;
        z-index: -2;

        position: relative; 
        width: 25vw;
        padding-top: calc(250%/4);
    }
    .image_phone {
        grid-row: 2 / span 3;
        width: 30vw; 
        padding-bottom: calc(300%/4);
        place-self: center;
    }
    .purple_flex {
        height: 80vh;
        display: grid; 
        grid-template-columns: 40vw 60vw; 
    }
    .content {
        place-self: center;
    }
    .purple_image {
        display: block;
        place-self: center;
        max-width: 20rem;
    }
    .search {
        width: 20rem;
    }
    .definition {
        width: 30rem;
    }
    .awareness_subtitle {
        font-size: titleFont; 
        line-height: 3.5rem; 
        height: 15vh;
        max-width: 30rem;
    }
    .example_header {
        grid-template-columns: repeat(2, 13rem);
        margin: .5rem 10rem;
    }
    .tips_subtitles {
        font-size: titleFont;
        margin: 5rem 10rem;
    }
    .tips_grid {
        grid-template-columns: 10rem 20rem 10rem;
        grid-template-rows: 10rem 5rem 10rem;
        width: 40rem; 
        margin: 0 auto;
        padding: 3rem 0;
    }
    .tips_image {
        grid-column: 1 / span 3;
    }
    .footer_cta {
        max-width: 70rem; 
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .footer_link {
        text-align: center;
    }
    .footer_info {
        max-width: 50rem; 
        margin: 0 auto;
        flex-direction: row;
        justify-content: space-between;
    }
}

@media screen and (min-width: breakpointTwo) {
    .header {
        width: 100vw;
        grid-template-columns: repeat(3, calc(100%/3));
        margin: 0 auto;
    }
    .headline {
        margin-top: 5rem;
    }
    .introduction {
        grid-row: 2;
        grid-column: 1 / span 2;
        max-width: 40rem;
        margin: 0;
        place-self: flex-end;
    }
    .image_protest {
        grid-row: 3;
        grid-column: 2/ span 3;
        place-self: flex-start;
        width: 20vw; 
        padding-top: calc(300%/10);
    }
    .image_phone {
        grid-row: 2 / span 3;
        grid-column: 3;
        align-self: center;
        justify-self: flex-start;
        width: 20vw;
        padding-bottom: calc(200%/4);
        margin: 0;
    }
    .purple {
        margin: 0;
    }
    .information {
        margin-top: 0;
    }
    .intermezzo {
        display: grid; 
        grid-template-columns: 25vw 50vw 25vw;
    }
    .intermezzo_content {
        grid-column: 2;
        display: flex; 
        flex-direction: column;
        align-items: center; 
        position: relative; 
        margin-top: 5rem;
    }
    .circles {
        grid-column: 3;
        background-image: url("../../public/assets/campagne/circles-green.svg");
        background-repeat: no-repeat;
        background-size: cover;
        width: 30rem; 
        height: 30rem;
        position: relative; 
        place-self: flex-end;
        top: -10rem;
        z-index: -1;
    }
    .awareness_subtitle {
        background-image: none;
    }
    .awareness_content {
        place-self: center;
        width: 30rem;
        margin: 0;
    }
    .awareness_image {
        display: flex;
        align-self: center;
        justify-self: flex-start;
        position: relative;
        width: 25vw; 
        padding-top: calc(150%/4);
    }
    .awareness_flex {
        display: flex; 
        flex-direction: row; 
        justify-content: space-evenly;
        width: 80vw;
        margin: 0 10rem;
    }
    .examples_flex {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
    .example_header {
        margin: 0;
    }
    .trump {
        max-width: 40vw;
    }
    .boris {
        max-width: 40vw;
    }
    .boris_content {
        justify-self: flex-end;
    }
    .footer_title {
        font-size: titleFont;
    }
}