@value values: "../../styles/vars.module.css";
@value facebookBlue, facebookGray, facebookTypo, mainColor, breakpoint from values;

.advertisement {
    margin: 1.5rem 10vw;
    box-shadow: .05rem .05rem .7rem .03rem facebookGray;
    border-radius: .7rem;
    font-family: facebookTypo;
}

.profile {
    display: flex; 
    flex-direction: row;
    margin-bottom: .5rem; 
    padding: 1rem;
}

.information {
    margin-left: 1.5rem;
    padding: .5rem 0rem;
    display: flex; 
    flex-direction: column; 
    justify-content: space-between;
}

.profileName {
    font-weight: 600;
    font-size: 1.2rem;
}

.time {
    font-weight: 100;
}

.tagline {
    display: flex; 
    flex-direction: row; 
    justify-content: space-between;
    align-items: center;
    background-color: facebookGray;
    padding: 1rem;
}

.button {
    font-size: .7rem; 
    background-color: white;
    padding: .5rem; 
    border-radius: .2rem;
}

.advertisement_title {
    font-weight: 700; 
    font-size: 1.3rem;   
}

.wrapper_mobile {
   width: auto; 
   height: auto;
   position: relative;
   background-color: mainColor;
}

.player_mobile {
    position: relative;
    width: 15rem;
    padding-top: 56.25%; /* aspect ratio for 16:9 */
}

.player_mobile > div {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.wrapper_desktop {
    display: none;
}

.interactions {
    display: flex; 
    flex-direction: row; 
    justify-content: space-evenly;
    margin: 2rem 0rem;
    padding-bottom: 1.5rem;
}

.input:hover {
    color: facebookBlue;
}


@media screen and (min-width: breakpoint) {
    
    .advertisement {
        width: 31.28rem;
        margin: 0 auto;
    }

    .wrapper_mobile {
        display: none;
    }

    .wrapper_desktop {
        display: inline-block;
        width: auto; 
        height: auto;
    }

    .player_desktop {
        position: relative;
        width: 31.28rem;
        padding-top: 56.25%; /* aspect ratio for 16:9 */
        top: -2rem;
    }

    .player_desktop > div {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
    }
}