@value values: "../../styles/vars.module.css";
@value facebookBlue, facebookGray, facebookTypo, breakpoint from values;

.article {
    margin: 1.5rem 10vw;
    box-shadow: .05rem .05rem .7rem .03rem facebookGray;
    border-radius: .7rem;
    font-family: facebookTypo;
}

.profile {
    display: flex; 
    flex-direction: row;
    margin-bottom: .5rem; 
    padding: 1rem;
}

.profileImage > div {
    border-radius: 100%;
}

.information {
    margin-left: 1.5rem;
    padding: .5rem 0rem;
    display: flex; 
    flex-direction: column; 
    justify-content: space-between;
}

.profileName {
    font-weight: 600;
    font-size: 1.2rem;
}

.time {
    font-weight: 100;
}

.articleTitle {
    font-weight: 700; 
    font-size: 1.3rem;
    padding: 1rem; 
    background-color: facebookGray;
}

.interactions {
    display: flex; 
    flex-direction: row; 
    justify-content: space-evenly;
    margin: 2rem 0rem;
    padding-bottom: 1.5rem;
}

.input:hover {
    color: facebookBlue;
}

@media screen and (min-width: breakpoint) {
    
  .article{
      width: 31.28rem;
      margin: 0 auto;
  }

  .articleImage {
    min-width: 31.28rem;
  }
}