@value values: "../../styles/vars.module.css";
@value facebookBlue, facebookGray, facebookTypo from values;

.profile {
    display: flex; 
    flex-direction: row;
    padding: 0.5rem;
    width: 20rem;
    color: facebookBlue;
}

.username {
    margin-left: 1rem;
    margin-top: 1.2rem;
    cursor: pointer;
}

.profile_picture {
    border-radius:50%;
    height: 3.5rem;
}
