@value values: "../../styles/vars.module.css";
@value facebookBlue, facebookGray, facebookTypo from values;

.header {
    width: 100vw;
    display: flex; 
    flex-direction: row; 
    justify-content: space-between;

    background-color: white;
    padding: .5rem;
    box-shadow: 0rem .05rem .5rem .05rem facebookGray;
    position: fixed;
    top: 0; 
    z-index: 2;
}

