@value values: "../styles/vars.module.css";
@value facebookTypo, breakpointTwo, facebookGray from values;


.container {
     display: grid;
     grid-template-columns: repeat(3, auto);
     width: 100vw;
     margin: 0 auto;
}

.feed {
    margin-top: 7.5rem;
    grid-column: 2;
}


.names {
    margin-top: 7.5rem;
    grid-column: 3;
}

.title {
    font-size: 3rem;
    font-family: facebookTypo;
}

.side_elements {
    margin-top: 7.5rem;
    grid-column: 1;
    grid-row: 1;
    margin-left: 4vw;
    width: 13rem;
    position: fixed;
}

.element_list {
    padding-left: 5rem;
    padding-top: 3rem;
}

.list_item {
    margin-bottom: 5rem;
    font-family: facebookTypo;
    font-size: 1.5rem;
    display: flex;
    flex-direction: row;
    color: facebookGray;
}

.element_word {
    margin-top: 0.5rem;
    margin-left: 0.5rem;
}

@media screen and (max-width: breakpointTwo) {
    .names{
        display: none;
    }

    .side_elements {
        display: none;
    }

     .container {
     display: block;
    }
}

