@value values: "../styles/vars.module.css";
@value facebookTypo, breakpointTwo from values;


.container {
     display: grid;
     grid-template-columns: repeat(3, auto);
     width: 100vw;
     margin: 0 auto;
}

.feed {
    margin-top: 7.5rem;
    grid-column: 2;
}


.names {
    margin-top: 7.5rem;
    grid-column: 3;
}

.title {
    font-size: 3rem;
    font-family: facebookTypo;
}

.side_elements {
    margin-top: 7.5rem;
    grid-column: 1;
    grid-row: 1;
}

@media screen and (max-width: breakpointTwo) {
    .names{
        display: none;
    }

    .side_elements {
        display: none;
    }

     .container {
     display: block;

}
}

