@value values: "../styles/vars.module.css";
@value mainColor, breakpoint, Menlo, hightlightColor from values;
@font-face {
    font-family: 'Menlo';
    src: url('../public/fonts/Menlo-Regular\ 2.ttf');
}


.container {
    background-color: mainColor;
    height: 100vh;
    width: 100vw;
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-image: url(../public/assets/raster2.svg);
    background-size: 550vw;
    background-position: 25% 25%;
    filter: blur(0.125rem);
}

.content {
    width: 60vw;
    margin: 0 auto;
}

.text {
    color: white;
    font-family: Menlo;
    font-size: 1.25rem;
    text-align: center;
    line-height: 1.6rem;
}

.highlight {
    background: linear-gradient(to top, hightlightColor 50%, transparent 50%);
    padding-left: 0.2rem;
    padding-right: 0.2rem;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 2rem;
}

.versiering1 {
    position: absolute;
    left: 13.29%;
    right: 83.08%;
    top: 2.57%;
    bottom: 94.95%;
}

.versiering2 {
    position: absolute;
    left: 8.7%;
    right: 86.84%;
    top: 88.84%;
    bottom: 8.94%;
}

.versiering3 {
    position: absolute;
    left: 88.41%;
    right: 6.07%;
    top: 85.6%;
    bottom: 11.79%;
}

@media screen and (min-width: breakpoint) {

    .background{
        background-size: 200rem;

    }
}
