@value values: "../styles/vars.module.css";
@value mainColor, breakpoint, Menlo, hightlightColor, breakpointTwo, secondaryColor, bodyFont, lineHeight, bodyFontBig, lineHeightBig from values;

@font-face {
    font-family: 'Menlo';
    src: url('../public/fonts/menlo-regular.ttf');
}

.container {
    background-color: mainColor;
    height: 100vh;
    width: 100vw;
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-image: url(../public/assets/raster2.svg);
    background-size: 550vw;
    background-position: 25% 25%;
    filter: blur(0.125rem);
}

.content {
    width: 60vw;
    margin: 0 auto;
}

.text {
    color: white;
    font-family: Menlo;
    font-size: bodyFont;
    text-align: center;
    line-height: lineHeigt;
}

.highlight {
    background: linear-gradient(to top, hightlightColor 50%, transparent 50%);
    padding-left: 0.2rem;
    padding-right: 0.2rem;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 2rem;
}

.versiering1 {
    position: absolute;
    left: 13.29%;
    right: 83.08%;
    top: 2.57%;
    bottom: 94.95%;
}

.versiering2 {
    position: absolute;
    left: 8.7%;
    right: 86.84%;
    top: 88.84%;
    bottom: 8.94%;
}

.versiering3 {
    position: absolute;
    left: 88.41%;
    right: 6.07%;
    top: 85.6%;
    bottom: 11.79%;
}

.progress_button {  
    display: grid;
    width: 65vw;
    grid-column: 60vw 5vw;
    position: absolute;
    margin-top: 4rem;
    margin-left: auto;
    margin-right: auto;
}

.button_image {
    height: 5vw;
    margin-top: -0.4rem;
    grid-column: 2;
}

.progress_div {
    grid-column: 1;
    height: 2rem;
    width: 50vw;
    background-color: white;
    border-radius: 1.5rem;
}

.progress{
    height: 2rem;
    background-color:secondaryColor;
    border-radius: 1.5rem;
}

.content_container {
    position: absolute;
    margin-top: 10rem;
    width: 60vw;
}

.hoofdoek {
    width: 60vw;
    margin: 0 auto;
}



@media screen and (min-width: breakpoint) {

    .background{
        background-size: 200rem;
    }
}

@media screen and (min-width: breakpointTwo) {
    .content_container {
        top: 20%;
        width: 60rem;
    }

    .hoofdoek {
       display: none;
    }

    .buttons {
        width: 30rem;
        margin: 0 auto;
    }

    .text {
        margin-bottom: 3rem;
        font-size: bodyFontBig;
        line-height: lineHeightBig;
    }

    .background {
        position: absolute;
    }

    .hoofdoek_image{
        background-image: url(../public/assets/hoofdoek.png);
        position: absolute;
        height: 100vh;
        width: 100vw;   
        background-repeat: no-repeat;
        background-position: 120% -70%;
    }

    .button_image {
        height: 3vw;
    }

}
