@value values: "../styles/vars.module.css";

@value mainColor, breakpoint, Menlo, hightlightColor, breakpointTwo, secondaryColor, bodyFont, lineHeight, bodyFontBig, lineHeightBig from values;

@font-face {
    font-family: 'Menlo';
    src: url('../public/fonts/menlo-regular.ttf');
}

.container {
    background-color: mainColor;
    height: 100vh;
    width: 100vw;
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-image: url(/assets/raster2.svg);
    background-size: 550vw;
    background-position: 25% 25%;
    filter: blur(0.125rem);
}

.content {
    width: 60vw;
    margin: 0 auto;
}

.text {
    color: white;
    font-family: Menlo;
    font-size: bodyFont;
    text-align: center;
    line-height: lineHeigt;
}

.highlight {
    background: linear-gradient(to top, hightlightColor 50%, transparent 50%);
    padding-left: 0.2rem;
    padding-right: 0.2rem;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 2rem;
}


.content_container {
    position: absolute;
    margin-top: 10rem;
    width: 60vw;
}

.hoofdoek {
    width: 60vw;
    margin: 0 auto;
}

.textTrump {
    color: white;
    font-family: Menlo;
    font-size: 1.5rem;
    text-align: center;
    line-height: lineHeigt;
    margin-bottom: 15rem;
}


.content_containerTrump {
    position: absolute;
    top: 32%;
    left: 10%;
    width: 80vw;
}


.trumpLeft {
    position: fixed;
    bottom:0px;
    height: 30rem;
    right: -7rem;
}

.trumpRight{
    position: fixed;
    bottom:0px;
    height: 30rem;
    left: -7rem;
}

.display_none {
    display: none;
}

.buttons_text_three {
    display: flex;
    flex-direction: column;
    width: 50vw;
    margin: 0 auto;
}

.button_three {
    width: 20vw;
    margin: 0 auto;
}

@media screen and (min-width: breakpoint) {

    .background{
        background-size: 200rem;
    }

    .trumpLeft {

    height: 35rem;
}


.trumpRight {

    height: 35rem;
}
}

@media screen and (min-width: breakpointTwo) {
    .content_container {
        top: 20%;
        width: 60rem;
    }

    .hoofdoek {
       display: none;
    }

    .buttons {
        width: 30rem;
        margin: 0 auto;
    }

    .text {
        margin-bottom: 3rem;
        font-size: bodyFontBig;
        line-height: lineHeightBig;
    }

    .background {
        position: absolute;
    }

    .hoofdoek_image{
        background-image: url(/assets/hoofdoek.png);
        position: absolute;
        height: 100vh;
        width: 100vw;   
        background-repeat: no-repeat;
        background-position: 120% -70%;
    }

    .button_image {
        height: 3vw;
    }

    .trumpLeft {

   right:18vw;
}


.trumpRight {
  left: 22vw;
}

.maskers_image{
        background-image: url(/assets/maskers.gif);
        position: absolute;
        background-size: 50vw;
        height: 100vh;
        width: 100vw;   
        background-repeat: no-repeat;
        background-position: -10% 100%;
    }

}
