@value facebookBlue: #4267B2;
@value facebookGray: #898F9C;

@value facebookTypo: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

@value breakpoint: 627px;

@value breakpointTwo: 1168px;
