@value facebookBlue: #4267B2;
@value facebookGray: #898F9C;
@value mainColor: #4030B8;
@value hightlightColor: #705ED2;
@value secondaryColor: #C0D75B;

@value bodyFont: 1.25rem;
@value bodyFontBig: 1.5rem;
@value lineHeight: 1.6rem;
@value lineHeightBig: 2rem;

@value facebookTypo: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

@value breakpoint: 627px;
@value breakpointTwo: 1168px;

